@charset "UTF-8";
/* @import url("basic.css"); */

/* @font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
} */

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'SUIT-Medium';
    /* font-family: EliceDigitalBaeum_Bold; */
}

header {
    position: fixed;
    background-color:#F9F3EE;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 999;
    line-height:90px;
    float: left;
    overflow: hidden;
}

header > h1 {
    display: none;
}

#img_starbucks {
    width: 60px;
    margin: 17px 23px;
}

header > nav {
    float:right;
    width: 300px;
    background-color: #CCF3EE;
}

header > nav > a {
    display: block;
    text-decoration: none;
    width: 20%;
    float: left;
    text-align: center;
}

header > nav > a > img {
    width:27px;
    vertical-align: middle;
}

section {
    width:100%;
    height:1000px;
    margin-top: 90px;
    margin-bottom: 15px;
}

section > .drink_content {
    background-color:#F9CEEE;
    border-top: 4px solid #ffff;
    border-bottom: 4px solid #FFFF;
    width: 75%;
    height: 500px;
    float: left;
    position: absolute;
    min-width: 800px;
}

section > .none_content {
    background-color:#F9CEEE;
    border-bottom: 4px solid #FFFF;
    width: 75%;
    height: 500px;
    float: left;
    position: absolute;
    min-width: 800px;
    margin-top: 500px;
}

section > article > figure {
    margin: 45px 20px;
}

section>article>figure>img {
    display: inline-block;
    width: 45%;
}

@media screen and (max-width: 670px) {
	section>article>figure>img:nth-child(2) {
        display: inline-block;
        visibility: hidden;

    }
}

@media screen and (min-width: 670px) {
	section>article>figure>img {
        display: inline-block;
        width: 35%;
    }
}

section > aside {
    float: right;
    top: 20%;
    right: 0;
    width: 25%;
    text-align: center;
    position: fixed;
}

footer {
    width: 100%;
    background-color:#97C4B8;
    color:#FFFF;
}

footer .c_00b050 {
    color: #FFFF;
}

footer > aside > ul {
    padding-left:0;
}

footer > aside > ul > li,address {
    list-style: none;
    display: inline;
}