@charset "UTF-8";

#container {
	background-color: #F9F3EE;
	width: 600px;
	margin: 0 auto;
	border-radius: 15px;
}

#search-container {
	text-align: center;
	padding:10px;
}

#search-container>input {
	width:200px;
}

#list-container {
	padding:0 0 10px 0;
}

table {
	margin:0 auto;
	text-align:center;
}

table, th, td{
	border:1px solid black;
	border-collapse: collapse;
}

td.ip:hover {
	color: red;
	font-weight: bold;
	cursor: pointer;
}
